input[type="file"] {
     display: inline-block !important;
}
.check-warning{  color: red;}
.check-upload {background: #EEE; border: 1px #DDD solid; color: #888; padding: 5px 20px; }
.check-upload.active {background: #337ab7;color: #FFF;border: 1px #337ab7 solid;}
.search-zhd { margin: 10px; border-top: 1px #ddd dashed}
.search-zhd-til { color: #337ab7; font-size: 16px; line-height: 45px; }
.search-zhd-main input, .search-zhd-main select {margin-right: 10px; padding: 0 8px;}
.line-input{ margin: 10px 0;}
.zhd-search{ background: #FF950C; border: none; color: #FFF; padding: 5px 20px !important;}
#postTimeStart, #uploadTimeStart, #signTimeStart{margin-right:0;}

.zhd-list{ border:1px solid #DDD; width:100%; height:569px;overflow: hidden;}
.zhd-list-title{color:#32323E;}
.zhd-list-title li{ float:left; border-left:solid #DDD 1px; border-bottom:solid #DDD 1px; height:40px; line-height:40px; text-align:center; overflow:hidden; width: 11.1111%;}
.zhd-list-title li:nth-of-type(1){border-left:none;}
.zhd-list-con{color:#A4A4A7; transition: all .3s;}
.zhd-list-con li{ padding:8px;  text-align:left; height:40px; line-height:40px;}
.zhd-list-con li p{ line-height:25px;}


.zhd-detail {font-size: 14px; color: #333}
.zhd-detail p{line-height: 45px; text-align: center }
.zhd-detail span {width: 50%; display: inline-block;}
.zhd-detail .box p span:first-of-type{ text-align: right; padding-right: 10px;}
.zhd-detail .box p span:last-of-type{ text-align: left;}
.zhd-detail .box{ border: 1px solid #eee; padding: 30px; margin-bottom: 30px;}
.zhd-detail .box h2 {font-size: 16px; color:#337ab7; padding-bottom: 20px; }

.zhd-img-list li{text-align: center;  display: inline-block; width: 120px; height: 60px; margin: 10px; }
.zhd-img-list li img{width: 100%; height: 100%;}

.big-img { position: fixed; margin: auto; right: 0;left: 0;top: 0; bottom: 0; background: rgba(0,0,0,0.8)}