body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img { border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
abbr,acronym { border:0;}
img{ border:none;}
body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;margin:0 auto; overflow-x:hidden; font-size:14px; color:#333;}
a{text-decoration:none; color:#000;}
ul{list-style-type:none;}
.clear {zoom:1;}    /*==for IE6/7 Maxthon2==*/
.clear:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}   /*==for FF/chrome/opera/IE8==*/

.carousel{ width: 900px; height: 300px; position: relative; margin: 30px auto;}
.post_prve{ position: absolute;top:0; left: 0; width:130px; height: 300px; background: url("/untitled/test/images/btn_l.png") no-repeat center; cursor: pointer;z-index: 99;}
.post_next{ position: absolute;top:0; right: 0; width:130px; height: 300px; background: url("/untitled/test/images/btn_r.png") no-repeat center; cursor: pointer;z-index: 99;}
.carousel ul{}
.carousel ul li{ position: absolute;}
.carousel ul li img{ width: 100%; height: 100%;}

